@import '@/styles/colors.scss';

.header {
  border-bottom: 1px solid #414141;
  a {
    color: $text-black;
    text-decoration: none !important;
    text-transform: uppercase;
    &:hover {
      color: inherit;
    }
  }
}