@import '@/styles/colors';

.textWithCTA {
  background-color: $base-black !important;
  color: $base-white !important;
  text-align: center;
  padding: 2rem;
}

@media (min-width: 768px) {
  .textWithCTA {
    .text {
      padding: 0 25%;
    }
  }
}