@import '../../styles/colors.scss';

.textCol {
  background-color: $base-white;
  .textCopy {
    padding: 10%;
  }
}

@media (max-width: 767px) {
  .textCopy {
    font-size: large;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .textCopy {
    margin-top: 2%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .textCopy {
    margin-top: 10%;
  }
}

@media (min-width: 1200px) {
  .textCopy {
    margin-top: 15%;
  }
}
