.boxDetails {
  .boxDetailsRow {
    margin-top: 2rem;
    .boxCol {
      text-align: center;
      padding: 0 12%;
      margin-bottom: 2rem;
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .boxDetails {
    .boxDetailsRow {
      .boxCol {
        padding: 0 20%;
      }
    }
  }
}


@media (min-width: 992px) {
  .boxDetails {
    .boxDetailsRow {
      .boxCol {
        padding: 0 32%;
      }
    }
  }
}