.hero {
  background-position: center;
  background-size: cover;
  height: 400px;
  .heroContent {
    position: relative;
    padding-top: 10%;
    .title {
    }
    // .filterForm {
    //   text-align: center;
    //   position: relative;
    //   top: 50%;
    // }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    height: 600px;
    .heroContent {
      padding-top: 25%;
    }
  }
}

@media (min-width: 992px) {
  .hero {
    height: 600px;
    .heroContent {
      padding-top: 15%;
    }
  }
}