@import '../../styles/colors.scss';

.hero {
  background-color: $base-white;
  color: $base-black;
  height: 300px;
  margin-bottom: -1px;
  .heroContent {
    padding-top: 40%;
    .title {
      opacity: 0.6;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    height: 300px;
    .heroContent {
      padding-top: 20%;
    }
  }
}

@media (min-width: 992px) {
  .hero {
    height: 300px;
    // when hero image gets added
    // height: 400px;
    .heroContent {
      padding-top: 10%;
    }
  }
}