@import '@/styles/colors.scss';

.facebookPrepend {
  background-color: $facebook;
  margin-right: -2px;
  color: white;
}

.twitterPrepend {
  background-color: $twitter;
  margin-right: -2px;
  color: white;
}

.link {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}