.pageHero {
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .title {
    text-align: center;
    position: relative;
    top: 50%;
  }
}


@media (min-width: 768px) {
  .pageHero {
    height: 500px;
    background-size: cover;
    background-position: center;
    .title {
      top: 40%;
    }
  }
}