@import '~bootstrap/scss/bootstrap';
@import './colors.scss';


* { box-sizing: border-box; }
@font-face {
  font-family: 'Orpheus W01 Regular';
  src: url('../assets/fonts/orpheus-regular/orpheus-regular.woff2') format('woff2'), url('../assets/fonts/orpheus-regular/orpheus-regular.woff') format('woff');
}
@font-face {
  font-family: 'Orpheus W01 Italic';
  src: url('../assets/fonts/orpheus-italic/orpheus-italic.woff2') format('woff2'),url('../assets/fonts/orpheus-italic/orpheus-italic.woff') format('woff');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: $text-black;
  // text-decoration: none !important;
  &:hover {
    color: $text-black;
    // text-decoration: underline !important;
  }
}
a.btn {
  text-decoration: none !important;
  border-radius: 0 !important;
  &:hover {
    border-color: $base-white;
  }
}
.form-label {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orpheus W01 Regular', serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}

.orpheus {
  font-family: 'Orpheus W01 Regular', serif;
}

.bg-dark {
  background-color: $base-black !important;
  color: $base-white !important;
}
.border-light {
  border: none;
}

// Button Global Styles 
.btn {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.btn-primary {
  border-color: $base-border-black;
  background-color: $base-border-black;
  color: $text-white;
}
.btn-secondary {
  border-color: $base-border-white;
  background-color: $base-border-white;
  color: $text-black;
}
.btn-outline-primary {
  border-color: $base-border-white;
  background-color: $base-border-black;
  color: $text-white;
  &:hover {
    border-color: $base-border-black;
    background-color: $base-border-white;
    color: $text-black;
  }
}
.btn-outline-secondary {
  border-color: $base-border-black;
  background-color: $base-border-white;
  color: $text-black;
  &:hover {
    border-color: $base-border-white;
    background-color: $base-border-black;
    color: $text-white;
  }
}
.input-group-text {
  border: none;
}
.btn-login {
  background-color: $base-black;
  color: $text-white;
  font-size: 14px;
  height: 50px;
  &:hover {
    border-color: $base-border-black;
    background-color: $base-border-white;
    color: $text-black;
  }
}
.btn-facebook {
  background-color: $facebook;
  color: $text-white;
  font-size: 14px;
  height: 50px;
}
.btn-twitter {
  background-color: $twitter;
  color: $text-white;
  font-size: 14px;
  height: 50px;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .btn {
    display: block;
  }
}

@media (min-width: 768px) {
  .visible-xs {
    display: none !important;
  }
}
