@import './colors.scss';

* { box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: Helvetica Neue, sans-serif;
}

// a {
//   color: $text-white;
//   text-decoration: none !important;
//   &:hover {
//     border-color: $base-black;
//     color: $text-black;
//   }
// }

.link-black {
  color: $text-black;
  &:hover {
    text-decoration: underline !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
}

.bg-dark {
  background-color: $base-black !important;
  color: $base-white !important;
}
.border-light {
  border: none;
}

// Button Global Styles 
.btn {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.btn-primary {
  border-color: $base-border-black;
  background-color: $base-border-black;
  color: $text-white;
}
.btn-secondary {
  border-color: $base-border-white;
  background-color: $base-border-white;
  color: $text-black;
}
.btn-outline-primary {
  border-color: $base-border-white;
  background-color: $base-border-black;
  color: $text-white;
  &:hover {
    border-color: $base-border-black;
    background-color: $base-border-white;
    color: $text-black;
  }
}
.btn-outline-secondary {
  border-color: $base-border-black;
  background-color: $base-border-white;
  color: $text-black;
  &:hover {
    border-color: $base-border-white;
    background-color: $base-border-black;
    color: $text-white;
  }
}